<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-white mt-5">

      <div class="form-control" id="particularity">

        <h2>Crée ta famille</h2>

        <%= simple_form_for(@family) do |f| %>
          <div class="d-flex">
            <div class="row col-10">
              <%= f.input :last_name, label: "Nom de ta famille", , placeholder: "Desrosiers"%>
              <%= f.abyme_for(:family_members) do |abyme|%>
                <%= abyme.records %>
                <%= abyme.new_records %>
                <%= add_associated_record(content: "Ajoute un membre +", html: {id: "add-member"}) %>
              <% end %>
            </div>
          </div>
          <%= f.button :button, "créer", class: "button-52-peach" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
