<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-white mt-5">
      <div class="form-wrapper" style="width: 400px; margin: 10px auto;">
        <h2>Modifier un événement</h2>
          <%= simple_form_for [@family, @event] do |f| %>
          <div class="d-flex">
            <div class="row col-10">
              <%= f.input :family_member, input_html: { value: @event.family_member.first_name }, disabled: true, label: "Membre de la famille" %>
              <%= f.input :title, label: "Titre" %>
              <%= f.input :start_at, as: :string, required: true, input_html: {class: "datepicker" }, label: "Début" %>
              <%= f.input :end_at, as: :string, required: true, input_html: {class: "datepicker"}, label: "Fin" %>
              <%= f.input :contact, label: 'Contact ?' %>
            </div>
          </div>
          <%= f.button :button, class: "button-52-peach" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
