
<%= month_calendar(events: @events, attribute: :start_at) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.title %> <br>
      start :<%= event.start_at %> <br>
      end :<%= event.end_at %>
    </div>
  <% end %>
<% end %>
