<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 bg-white mt-5">
      <div class="form-wrapper" style="width: 400px; margin: 0px auto;">
        <h2 style="margin-bottom: -30px;">Ajouter un événement</h2>
        <%= simple_form_for [@family, @event] do |f| %>
          <div class="d-flex">
            <div class="row event-form-font" data-controller="reminder">
              <%= f.input :family_member, collection: current_user.family.family_members, prompt: "Lola?", label: 'Pour qui?' %>
              <%= f.input :title, label: "Quel événement?", placeholder: "c'est la fête!" %>
              <%= f.input :start_at, as: :string, required: true, input_html: {class: "datepicker" }, label: "Début", placeholder: "sélectionne jour/heure" %>
              <%= f.input :end_at, as: :string, required: true, input_html: {class: "datepicker"}, label: "Fin", placeholder: "sélectionne jour/heure" %>
              <%= f.input :contact, label: 'Qui gère?', placeholder: "Nouvelle babysitter: 06 56 37 56 98" %>
              <%= f.input :add_reminder, as: :boolean, checked_value: 'true', unchecked_value: 'false', label: 'Ajouter un rappel ?', input_html: { data: { action: 'change->reminder#addReminder', reminder_target: 'test' }, class: "toggle"} %>
              <div class="d-none" data-reminder-target="reminderDetails">
                <%= f.input :reminder_date, as: :string, required: true, label: 'Date de rappel', input_html: {class: "datepicker" }, placeholder: "sélectionne jour/heure" %>
                <%= f.input :reminder_comment, label: "Quelque-chose à se rappeler?", placeholder: "Apporter des cotillons!" %>
              </div>
            </div>
          </div>
          <%= f.button :button, 'Créer un événement', class: " button-52-peach" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
