<div class='container-fluid p-0 pt-1'>
  <div class="container">

    <div class="calendar-title">
      <h2>Mes contacts</h2>
      <%= link_to new_family_contact_path(@family) do %>
        <i class="far fa-plus-square iconcolor"></i>
      <% end %>
    </div>

    <div class="contact-table">
      <table>
        <thead>
          <tr class="header">
            <th scope="col" id="n1">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Commentaire</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each_with_index do |contact, index| %>
            <tr class="">
              <th scope="row"><%= "#{contact.first_name} #{contact.last_name}" %></th>
              <th scope="row"><em><%= contact.email %></em></th>
              <th scope="row"><%= contact.phone_number %></th>
              <th scope="row"><%= contact.comment %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
