<div class='container-fluid p-0 pt-1'>
  <div class="container">

    <h2 class="d-flex justify-content-start">Mes contacts
          <%= link_to new_family_contact_path(@family) do %>
            <i class="far fa-plus-square iconcolor"></i>
          <% end %>
    </h2>

    <table class="contact-table">

      <thead>

        <tr class="header">
          <th scope="col">Name</th>
          <th scope="col">email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <th scope="row"><%= "#{contact.first_name} #{contact.last_name}" %></th>
            <th scope="row"><em><%= contact.email %></em></th>
            <th scope="row"><%= contact.phone_number %></th>
            <th scope="row"><%= contact.comment %></th>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
