<div class='container-fluid p-0 pt-1'>
  <div class="container">

    <div class="contact-title">
      <h2>Mes contacts</h2>
      <div class="add_contact">
        <%= link_to new_family_contact_path(@family) do %>
          <i class="far fa-plus-square iconcolor"></i><p>Ajouter un contact</p>
        <% end %>
      </div>
    </div>

    <div class="contact-table">
      <table>
        <thead>
          <tr class="header">
            <th scope="col" id="n1"><div>Nom</div></th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Type de connaissance</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each_with_index do |contact, index| %>
            <tr class="tr">
              <td scope="row"><%= "#{contact.first_name} #{contact.last_name}" %></td>
              <td scope="row"><a href="mailto:<%= contact.email %>"><%= contact.email %></a></td>
              <td scope="row"><%= contact.phone_number %></td>
              <td scope="row"><%= contact.comment %></td>
              <td scope="row">
                <%= link_to edit_family_contact_path(@family, contact) do %>
                  <h3><%= image_tag "icons8-modifier-64.png", width: "25px", class: "hover-edit"%></h3>
                <% end %>
              <td scope="row">
                <%= link_to family_contact_path(@family, contact), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <h3><%= image_tag "icons8-effacer-64.png", width: "25px", class: "hover-edit"%></h3>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
