<div class='container-fluid p-0 pt-1'>
  <div class="container">
      <h1 class="d-flex justify-content-center">Mes contacts</h1>
      <div class="card card-contact">
        <% @contacts.each do |contact| %>
          <p><%= contact.first_name %></p>
          <p><%= contact.last_name %></p>
          <p><%= contact.email %></p>
          <p><%= contact.phone_number %></p>
          <p><%= contact.comment %></p>
        <% end %>
    </div>
  </div>
</div>
