<div class='container-fluid p-0 pt-1'>
  <div class="container">

    <h1 class="d-flex justify-content-center mt-0">Mes contacts</h1>

    <table class="contact-table">

      <thead>
        <div class= "d-flex justify-content-end addcontact">
          <%= link_to new_family_contact_path(@family) do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        <tr class="header">
          <th scope="col">Name</th>
          <th scope="col">email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <th scope="row"><%= "#{contact.first_name} #{contact.last_name}" %></th>
            <th scope="row"><em><%= contact.email %></em></th>
            <th scope="row"><%= contact.phone_number %></th>
            <th scope="row"><%= contact.comment %></th>
          </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
