<div class='container-fluid p-0 pt-1'>
  <div class="container">

    <div class="calendar-title">
      <h2>Mes proches</h2>
      <%= link_to new_family_contact_path(@family) do %>
        <i class="far fa-plus-square iconcolor"></i>
      <% end %>
    </div>

    <div class="contact-table">
      <table>
        <thead>
          <tr class="header">
            <th scope="col" id="n1"><div>Nom</div></th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Type de connaissance</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each_with_index do |contact, index| %>
            <tr class="">
              <td scope="row"><%= "#{contact.first_name} #{contact.last_name}" %></td>
              <td scope="row"><a href="mailto:<%= contact.email %>"><%= contact.email %></a></td>
              <td scope="row"><%= contact.phone_number %></td>
              <td scope="row"><%= contact.comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
