<div class="container mt-4">
  <div class="form-wrapper" style="width: 400px; margin: 10px auto;">
    <h1>Ajouter un contact</h1>
      <%= simple_form_for [@family, @contact] do |f| %>
      <div class="d-flex">
        <div class="row col-10">
          <%= f.input :first_name, label: 'prénom' %>
          <%= f.input :last_name, label: 'nom de famille' %>
          <%= f.input :email, label: 'e-mail' %>
          <%= f.input :phone_number, label: 'numéro de téléphone' %>
          <%= f.input :comment, label: 'le commentaire' %>
        </div>
      </div>
      <%= f.submit 'créer votre contact', class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
