<div class="modal fade" id="exampleModal-<%= date %>" tabindex="-1" aria-labelledby="exampleModal-<%= date %>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <p class="modal-title" id="exampleModal-<%= date %>Label"><%= @days[date.wday] %> <%= date.strftime("%-d") %> <%= @months[date.month.to_i] %> </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="left-part">
          <%= render "modale_left_part", events: events %>
        </div>

        <div class="right-part">
          <%= render "modale_right_part", date: date %>
        </div>

      </div>

    </div>
  </div>
</div>
