<div class="container" >

  <div class="calendar-title">
    <h2>Mon calendrier</h2>
    <%= link_to new_family_event_path(current_user.family) do %>
      <i class="far fa-calendar-plus iconcolor"></i>
    <% end %>
  </div>

  <%= month_calendar(events: @events, attribute: :start_at) do |date, events| %>
    <div data-controller="calendar" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= date %>" class="test h-100">
      <div><%= date.day %>
        <div class="modal fade" id="exampleModal-<%= date %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><%= date.strftime("%G-%A-%d") %></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="day-events" data-calendar-target="display">
                  <% events.each do |event| %>
                    <div class="details">
                      <h6><strong><%= event.family_member.first_name %></strong>: <%= event.title %> </h6>
                      <h6><%= event.start_at.strftime("%Hh%M") %> - <%= event.end_at.strftime("%Hh%M") %></h6>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="modal-footer f-flex justify-content-center">
                 <% unless @conflicts.find_by(date: date).nil? %>
                    <h6 class="conflict <%= @conflicts.find_by(date: date).conflict_type %>" data-calendar-target="conflict">
                      <%= link_to "Voir le conflit", family_conflict_path(current_user.family, @conflicts.find_by(date: date)), class:"btn-orange", id:"conflict-button"%>
                    </h6>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>
</div>
