<div class="container" >
 <div id="all" style="position: relative">
    <%= month_calendar(events: @events, attribute: :start_at) do |date, events| %>
  </div>

  <div data-controller="calendar" class="la-modale">

    <div data-bs-toggle="modal" data-bs-target="#exampleModal-<%= date %>" class="h-100">
      <div class="date-number"><%= date.day %></div>
      <div class="countevents">
        <% if events.present? %><%= pluralize(events.count, "event") %><% end %>
        <% if events.any? { |element| element.add_reminder == true } %><%= image_tag "icons8-alarme-64.png", class: 'reminder-calendar' %><% end %>
      </div>
    </div>

    <div class="modal fade" id="exampleModal-<%= date %>" tabindex="-1" aria-labelledby="exampleModal-<%= date %>Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h3 class="modal-title" id="exampleModal-<%= date %>Label"><%= date.strftime("%d-%B-%y") %></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

            <% if @conflicts.where(date: date, conflict_type: "transport").present? %>
              <div class="warning">No Transport !!</div>
            <% end %>
            <% if @conflicts.where(date: date, conflict_type: "babysitter").present? %>
              <div class="warning">No Babysitter !!</div>
            <% end %>
            <div class="details">
              <% events.each do |event|%>
                <div class="user-event <%= event.conflict? %>">
                  <div class="events-list" data-calendar-target="<%= event.conflict? %>">
                    <h2 id="hours"><%= event.start_at.strftime("%Hh%M") %>-<%= event.end_at.strftime("%Hh%M") %></h2>
                    <h3><strong><%= event.family_member.first_name %></strong> : <%= event.title %></h3>
                    <div>
                      <h3>
                        <% if event.add_reminder == true %>
                          <%= image_tag "icons8-alarme-64.png", class: "reminder-calendar" %>
                          <%= event.reminder_comment %>
                        <% end %>
                      </h3>
                    </div>
                  </div>
                  <div class="d-none" data-calendar-target="updateConflict">
                    <%= link_to edit_family_event_path(current_user.family, event.id) do %>
                      <img class="editIcon" src="https://img.icons8.com/material-outlined/50/000000/edit.png"/>
                    <% end %>
                    <%= link_to family_event_path(current_user.family, event.id), method: :delete do %>
                      <img class = "editIcon" src="https://img.icons8.com/external-justicon-lineal-justicon/50/000000/external-bin-hotel-essentials-justicon-lineal-justicon.png"/>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>

            <% if @conflicts.where(date: date).present? %>
              <div class="help-options">
                <div class="help-items" data-action="click->calendar#display">
                  <h3><%= image_tag "icons8-modifier-64.png" %></h3>
                  <a><%= "Modifier l'événement" %></a>
                </div>
                <div class="help-items">
                  <%= link_to family_contacts_path(current_user.family), target: 'blank' do %>
                    <h3><%= image_tag "icons8-téléphone-qui-sonne-64 (1).png" %></h3>
                    <%= "Appeler un proche" %>
                  <% end %>
                </div>
                <% if @conflicts.where(date: date, conflict_type: "babysitter").present? %>
                  <div class="help-items">
                    <%= link_to "https://babysittor.com/fr", target: '_blank' do %>
                      <h3><%= image_tag "icons8-maman-et-moi-classes-64.png" %></h3>
                      <%= "Allô babysitter!" %>
                    <% end %>
                  </div>
                <% elsif @conflicts.where(date: date, conflict_type: "transport").present? %>
                  <div class="help-items">
                    <%= link_to "https://www.sncf.com/fr", target: '_blank' do %>
                      <h3><%= image_tag "icons8-train-64.png" %></h3>
                      <%= "Réserve un train" %>
                    <% end %>
                  </div>
                  <div class="help-items">
                    <%= link_to "https://www.rentalcars.com/", target: '_blank' do %>
                      <h3><%= image_tag "icons8-voiture-64.png" %></h3>
                      <%= "Réserve une voiture" %>
                    <% end %>
                  </div>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>

  <% end %>

</div>
