<div class="container" >

  <div class="calendar-title">
    <h2>Mon calendrier</h2>
    <%= link_to new_family_event_path(current_user.family) do %>
      <i class="far fa-calendar-plus iconcolor"></i>
    <% end %>
  </div>


  <%= month_calendar(events: @events, attribute: :start_at) do |date, events| %>
    <div data-controller="calendar" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= date %>" class="h-100 test">
      <div class="date-number"><%= date.day %></div>
      <div class="countevents">
        <div><% if events.present? %><div><%= events.count %> events<% end %></div>
      </div>

      <div class="modal fade" id="exampleModal-<%= date %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel"><%= date.strftime("%d-%B-%y") %></h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card details">
                <% events.each do |event|%>
                  <div class="user-event <%= event.conflict? %>">
                    <div class="d-flex" data-calendar-target="<%= event.conflict? %>">
                      <h2 id="hours"><%= event.start_at.strftime("%Hh%M") %>-<%= event.end_at.strftime("%Hh%M") %></h2>
                      <h3><strong><%= event.family_member.first_name %></strong> : <%= event.title %></h3>
                    </div>
                    <div class="d-none" data-calendar-target="updateConflict">
                    <%= link_to edit_family_event_path(current_user.family, event.id) do %>
                      <img class="editIcon" src="https://img.icons8.com/material-outlined/50/000000/edit.png"/>
                    <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="card help-options">
                <div class="babysitter">
                  <%= link_to "https://babysittor.com/fr", target: '_blank' do %>
                    <h3><%= image_tag "https://img.icons8.com/external-victoruler-linear-colour-victoruler/50/000000/external-babysitter-baby-victoruler-linear-colour-victoruler.png" %></h3>
                    <%= "Allô babysitter!" %>
                  <% end %>

                </div>
                <div class="call-someone">
                  <%= link_to family_contacts_path(current_user.family), target: 'blank' do %>
                    <h3><%= image_tag "https://img.icons8.com/external-wanicon-lineal-color-wanicon/50/000000/external-call-work-at-home-wanicon-lineal-color-wanicon.png" %></h3>
                    <%= "Appeler un proche" %>
                  <% end %>
                </div>

                <div class="update-conflict-event" data-action="click->calendar#display">
                  <h3><%= image_tag "https://img.icons8.com/external-soft-fill-juicy-fish/60/000000/external-update-copywriting-soft-fill-soft-fill-juicy-fish.png" %></h3>
                  <p><%= "Modifier l'évènement" %></p>
                </div>
              </div>
            </div>
            <div class="modal-footer f-flex justify-content-center">
                <% unless @conflicts.find_by(date: date).nil? %>
                  <h6 class="conflict <%= @conflicts.find_by(date: date).conflict_type %>" data-calendar-target="conflict">
                    <%= link_to "Voir le conflit", family_conflict_path(current_user.family, @conflicts.find_by(date: date)), class:"btn-orange"%>
                  </h6>
                <% end %>
            </div>
          </div>
        </div>
      </div>


    </div>
  <% end %>

</div>
