<div class="container" >
  <div class="calendar-title">
    <h2>Mon calendrier</h2>
    <%= link_to 'créer un événement', new_family_event_path(current_user.family), class: "btn btn-round" %>
  </div>
  <%= month_calendar(events: @events, attribute: :start_at) do |date, events| %>
    <div data-controller="calendar" data-action="click->calendar#display">
      <div class="test"><%= date.day %></div>
      <div class="day-events d-none" data-calendar-target="display">
        <% events.each do |event| %>
          <div class="details">
            <h6><%= event.family_member.first_name %> :<%= event.title %> </h6>
            <h6><%= event.start_at.strftime("%Hh%M") %> - <%= event.end_at.strftime("%Hh%M") %></h6>
            <% unless event.conflict.nil? %>
              <h6 class="conflict" data-calendar-target="conflict"><%= link_to "#{event.conflict.conflict_type} conflict", family_conflict_path(event.family, event.conflict)%></h6>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
