



<h2><%= @conflict.events.first.start_at.strftime('%d-%b-%y') %></h2>
<div class="container">
  <div class="conflict-details"><%= @conflict %></div>
  <div class="events-of-day">
    <% @events.each do |event| %>
      <%= event.start_at.strftime("%y - %m - %d") %> <br>
    <% end %>
  </div>

</div>







<%= link_to "My family schedule", family_conflicts_path(:family_id) %>

<%= link_to 'Import', calendar_redirect_path, class: "btn btn-danger" %>
