




<div class="container" id="conflict-container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 bg-white mt-5">
      <h2><%= @conflict.events.first.start_at.strftime('%d-%b-%y') %></h2>
      <div class="card conflict-details">
        <% @conflict.events.each do |event|%>
          <h3><%= event.family_member.first_name %> :</h3>
          <h3><%= event.title %></h3>
          <h3><%= event.start_at.strftime("%Hh%M") %>-<%= event.end_at.strftime("%Hh%M") %></h3>
        <% end %>
      </div>
      <div class="card help-options">
        <div class="babysitter">
          <%= link_to "https://babysittor.com/fr", target: 'blank' do %>
            <h3><%= image_tag "https://img.icons8.com/external-victoruler-linear-colour-victoruler/50/000000/external-babysitter-baby-victoruler-linear-colour-victoruler.png" %></h3>
            <%= "Allô babysitter!" %>
          <% end %>

        </div>
        <div class="call-someone">
          <%= link_to family_contacts_path(current_user.family), target: 'blank' do %>
            <h3><%= image_tag "https://img.icons8.com/external-wanicon-lineal-color-wanicon/50/000000/external-call-work-at-home-wanicon-lineal-color-wanicon.png" %></h3>
            <%= "Appeler un proche" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
